@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h3>Engineer Details</h3>
<hr />
<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer has not been assigned to any machines, or is not licesned</p>
}
else
{
  <h3>Machines licensed to repair:</h3>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>
  }
  </ul>
}
<p>@Html.ActionLink("Edit Details", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineer List", "Index")</p>
